<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Categories</title>
  </head>
  <body>
    <%- include('partials/navigation') %>
    <table>
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>
      <% for(const category of categories){ %>
      <tr>
        <td><%= category.name%></td>
        <td><%= category.description%></td>
      </tr>
      <% } %>
    </table>
    <a href="/category/add">Add category</a>
  </body>
</html>