<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inventory Application</title>
  </head>
  <body>
    <%-include('partials/navigation') %>
    <ul>
      <li>
        <a href="/category">Show Categories</a>
      </li>
      <li>
        <a href="/item">Show items</a>
      </li>
    </ul>
  </body>
</html>
